<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
  </head>
  <body>
    <h1>Predict Car Selling Price</h1>
    <form method="POST">
        <label for="car_name">Car Name:</label>
        <input type="text" id="car_name" name="car_name" required><br>
    
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" required><br>
    
        <label for="model">Model:</label>
      <input type="text" id="model" name="model" required><br>
      
      <label for="vehicle_age">Vehicle Age (years):</label>
      <input type="number" id="vehicle_age" name="vehicle_age" required><br>
      
      <label for="km_driven">Kilometers Driven:</label>
      <input type="number" id="km_driven" name="km_driven" required><br>
      
      <label for="seller_type">Seller Type:</label>
      <input type="text" id="seller_type" name="seller_type" required><br>
      
      <label for="fuel_type">Fuel Type:</label>
      <input type="text" id="fuel_type" name="fuel_type" required><br>
      
      <label for="transmission_type">Transmission Type:</label>
      <input type="text" id="transmission_type" name="transmission_type" required><br>
      
      <label for="mileage">Mileage (kmpl):</label>
      <input type="number" step="0.1" id="mileage" name="mileage" required><br>
      
      <label for="engine">Engine (CC):</label>
      <input type="number" id="engine" name="engine" required><br>
      
      <label for="max_power">Max Power (bhp):</label>
      <input type="number"  id="max_power" name="max_power" required><br>
      
      <label for="seats">Seats:</label>
      <input type="number" id="seats" name="seats" required><br>
      
      <button type="submit">Predict Price</button>
    </form>

   
  </body>
</html>
