<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dekho Welcome Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="welcome-container">
        <div class="welcome-text">
            <h1>Welcome to Car Dekho</h1>
            <p>Your one-stop destination for car price predictions and more!</p>
            <a href="/predict" class="btn">Get Started</a>
        </div>
        <div class="author-info">
            <img src="author.jpg" alt="Author Image">
            <div>
                <a href="https://www.linkedin.com/in/abhishek-upadhyay-35b183259">Author: ABHISHEK UPADHYAY</a>
            </div>
        </div>
    </div>
</body>
</html>
